<div *ngIf="expression" style="text-align: center;">
    <div *ngIf="isSuccess()" style="color: #15e315;">
        <i class="pi pi-check-circle"></i>
        <span style="display: inline-block; margin-left: 5px;">The {{expression.syntacticsStructure?.name}} is detected successfully!</span>
    </div>

    <div *ngIf="isIncorrect()">
        <i class="pi pi-times-circle" style="color: rgb(230, 66, 66)"></i>
        <span style="color: rgb(230, 66, 66)"> Incorrect {{expression.syntacticsStructure?.name}}: </span>
        <span [ngClass]="{ 'incorrect': isIncorrectPosition(index) }" *ngFor="let word of expression.words; let index = index">
            {{word}}
        </span>
    </div>

    <div *ngIf="isIncomplete()">
        <i class="pi pi-info-circle"></i>
        For {{expression.syntacticsStructure?.name}} the {{getIncompleteInfoAsString()}} is needed!
    </div>
</div>
