<p-sidebar [(visible)]="showParticipants" position="top" [baseZIndex]="99999999999">
   
  <div class="image-tecno"></div>
   
  <h1 style="font-weight:normal">INTEGRANTES:</h1>
  <h3>RICARDO BARBOSA RODRIGUEZ</h3>
  <h3>LUIS MIGUEL HERNÁNDEZ PÉREZ</h3>
  <h3>CRISTIAN ESTUPIÑAN MIRANDA</h3>
  <h3>CLEIDER RICARDO BARBOZA</h3>
  <br>
  <h2>CARLOS GARCIA</h2>
  <h3>PROFESOR DE AUTÓMATAS DE TECNOLOGÍA</h3>
</p-sidebar>

<div class="search-container">
  <div class="title">
    <span>Syntactic Analyzer</span>
  </div>
  <div class="input-container">
    <span class="input-text">Type the sentence</span>
    <div class="input">
      <input type="text" pInputText placeholder="Example: The car is not red" [(ngModel)]="text"  (ngModelChange)="onTextChange()" [disabled]="syntacticAnalyzer.getLanguages().length === 0" />
    </div>
  </div>
</div>

<br>
<div *ngIf="analysisResult" class="analysis-content">
    <div *ngIf="analysisResult.languages?.length === 0" style="text-align: center;">
      <i class="pi pi-times-circle" style="color: rgb(230, 66, 66)"></i>
      <br>
      <span>No detected!</span>
    </div>
    <div *ngFor="let language of analysisResult.languages">
      <div *ngFor="let expression of language.analysisSyntacticStructures">

          <!-- status info -->
          <app-status [expression]="expression"></app-status>
          <br/><br/>
          <!-- syntactic container -->
          <div class="syntactic-container">
              <div class="label-info">
                <app-syntactic-language [expression]="expression"></app-syntactic-language>
              </div>
              <div class="syntactic-tree">
                
              </div>
          </div>
      </div>
    </div>
</div>


<div class="actions-footer">
  <button pButton type="button" icon="pi pi-info" class="p-button-rounded p-button-outlined" (click)="showParticipant()"></button>
  <button pButton type="button" icon="pi pi-th-large" class="p-button-rounded p-button-outlined"></button>
  <button *ngIf="!!text" style="color: #F06659;" pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-outlined" (click)="clear()"></button>
</div>